.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: inline-flex;
  font-family: "Quantico", sans-serif;
  font-weight: 900;
  color: white;
  background-color: #03a9f4;
  padding: 12px 27px;
  border-radius: 7px;
  border: none;
  border: solid 2px transparent;
  transition: background-color 0.3s;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: #03a9f4;
  border: solid 2px #03a9f4;
}
